## Interface: 70200
## Title: Reputation Bars
## Notes: Tracks reputation using some glorious bars!

## Version: %VERSION%
## Author: Pontus Munck
## Co-Author Mjumnito
## Special thanks to trent2 for his fixes while I had RL issues happening
## Revision: %REV%

## OptionalDeps: Ace3
## X-Embeds: Ace3
## SavedVariables: ReputationBarsDB

embeds.xml

## Widgets
Widgets\AceGUIContainer-ReputationTreeView.lua

## Load locales
Locales\Locales.xml

## Load core
ReputationBars.lua

## Load submodules
Modules\WatchBar.lua
Modules\AutoBars.lua
Modules\StaticBars.lua
