## Interface: 50001
## Title: Reputation Bars
## Notes: Allows you to watch one or more reputation bars.

## Version: %VERSION%
## Author: Pontus Munck
## Revision: %REV%

## OptionalDeps: Ace3
## X-Embeds: Ace3
## SavedVariables: ReputationBarsDB

embeds.xml

## Load locales
Locales\Locales.xml

## Load core
ReputationBars.lua

## Load submodules
Modules\WatchBar.lua
Modules\AutoBars.lua
Modules\StaticBars.lua
